<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home</title>
        <link rel="stylesheet" href="/css/adminMenuStyle.css">
    </head>
    <body>
        {{>adminMenu}}
        <center>
            <h1>Hello</h1>
        </center>
    </body>
</html>