<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <center>
            <h1>Your a..</h1>
            <a href="/admin">Admin</a><br/>
            <a href="/clerk">Clerk</a>
        </center>
    </body>
</html>