<div>
    <div class="floatleft">
        <a href="/admin/logout">logout</a>
	    <center><h1 class="h">Menu</h1></center>
	    <button class="button" onclick="window.location.href='/admin/addFaculty' ">Add</buttton><br>
        <button class="button b1" onclick="window.location.href='/admin/viewFaculty' ">View</button>
    </div>
</div>