<div>
    <div class="floatleft">
        <a href="/clerk/logout">logout</a>
	    <center><h1 class="h">Menu</h1></center>
	    <button class="button" onclick="window.location.href='/not' ">not</buttton><br>
        <button class="button b1" onclick="window.location.href='/not' ">not</button>
    </div>
</div>